[submodule "extern/pybind11"]
	path = extern/pybind11
	url = ../../pybind/pybind11.git
[submodule "extern/Minuit2"]
	path = extern/Minuit2
	url = ../../GooFit/Minuit2.git
[submodule "extern/rang"]
	path = extern/rang
	url = ../../agauniyal/rang.git
[submodule "extern/fmt"]
	path = extern/fmt
	url = ../../fmtlib/fmt.git
[submodule "extern/Eigen.git"]
	path = extern/Eigen
	url = ../../live-clones/Eigen.git
[submodule "extern/parallelstl"]
	path = extern/parallelstl
	url = git@github.com:intel/parallelstl.git
[submodule "cmake"]
	path = cmake
	url = ../../CLIUtils/cmake.git
[submodule "extern/Catch2"]
	path = extern/Catch2
	url = ../../catchorg/Catch2.git
